/* fonts */
/* inconsolata-regular - latin */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../libs/fonts/inconsolata-v31-latin-regular.woff2") format("woff2");
}
/* inconsolata-800 - latin */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("../libs/fonts/inconsolata-v31-latin-800.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --index: calc(1vw + 1vh);
  --transition: 1.25s cubic-bezier(0.2, 0.6, 0, 1);
}
html,
body {
  height: 100%;
  overflow: hidden;
  font-family: Inconsolata, sans-serif;
  border: 1px solid #d7d2cc;
}
option {
  background-color: #d7d2cc;
  color: #304352;
}
input {
  padding: 1rem;
}
textarea {
  padding: 1rem;
}
*::placeholder {
  color: #fff;
  /* font-size: var(--index); */
}

/* code */
.main-wrapper {
  position: relative;
  height: 100%;
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;

  background: #304352;
  background: -webkit-linear-gradient(to right, #d7d2cc, #304352);
  background: linear-gradient(to right, #d7d2cc, #304352);
}
.main-logo {
  position: absolute;
  left: calc(var(--index) * 2);
  top: 0;
}
.logo-img {
  width: calc(var(--index) * 5);
  height: calc(var(--index) * 5);
  display: block;
}
/* about-me | left side */
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  width: 50vw;

  padding-bottom: calc(var(--index) * 6);
  padding-left: calc(var(--index) * 2);
}
.cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;

  padding-top: calc(var(--index) * 6);
  padding-right: calc(var(--index) * 2);
}
.bttrfl-emoji {
  width: 20rem;
  height: 20rem;
  display: block;
}
.h2-title {
  font-size: calc(var(--index) * 2);
  padding-block: var(--index);
}
.p-info,
.skill,
.social-link {
  font-size: calc(var(--index) * 0.85);
}
.sr-info {
  margin-left: calc(var(--index) * 1.25);
}
.socials {
  margin-left: calc(var(--index) * 0.5);
}
/* ----------------------------- */

/* cta | form */
.form {
  display: flex;
  flex-direction: column;

  width: 30vw;
  height: 100%;
  padding: 1rem;
  gap: var(--index);

  font-size: calc(var(--index) * 0.5);
  background-color: transparent;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.cta-emoji {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  margin-bottom: var(--index);
}
.cta-first-row {
  display: inline-flex;
  gap: var(--index);
}
.form-title {
  margin-bottom: calc(var(--index) * 0.5);
}
.form-name,
.form-email {
  width: 50%;
}
.cta-second-row {
  display: grid;
  column-gap: var(--index);
  grid-template-columns: repeat(3, 1fr);
}

.message {
  width: 100%;
  height: calc(var(--index) * 4);

  font-size: calc(var(--index) * 0.5);

  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}
.field {
  width: 100%;
  height: calc(var(--index) * 2);

  border: none;

  font-size: calc(var(--index) * 0.5);

  color: #fff;
  border: 1px solid #fff;

  background-color: transparent;
}
.submit {
  width: 50%;
  height: 5%;
  margin: 0 auto;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #fff;
  font-size: calc(var(--index) * 0.5);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: #fff;
  background-color: transparent;
}
/* hover */
.submit:hover {
  background-color: #d7d2cc33;
  transition: var(--transition);
  border-bottom: 1px solid #d7d2cc;
}
.social-link:visited {
  color: #304352;
}
.social-link:hover {
  color: #516270;
}

/* hide arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.copyright {
  position: absolute;
  left: calc(var(--index) * 2);
  bottom: calc(var(--index) * 2);

  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.3);
}

/* media queries */
@media (max-width: 767.98px) {
  .main-wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .about-me {
    width: 100%;
    padding-bottom: var(--index);
    padding-left: var(--index);
  }
  .bttrfl-emoji {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 5rem;
    height: 5rem;
  }
  .cta {
    width: 100%;
    padding-top: var(--index);
    padding-right: var(--index);
  }
  .form {
    width: 100%;
  }
  .cta-emoji {
    width: 2rem;
    height: 2rem;
  }
  .about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  .first-row {
    grid-column: span 2;
  }
  .skill {
    padding-block: 0.2rem;
  }
  .form-title {
    font-size: calc(var(--index) * 1);
  }
  .field,
  .message,
  .submit {
    font-size: calc(var(--index) * 0.7);
  }
}
